# URL base del módulo de Inventario
ServiceUrls__InventoryAPI=http://localhost:5143

# Cadena de conexión de PostgreSQL
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=unifiedDB;Username=postgres;Password=Passw0rd123
